.card {
    max-width: 505px;
    margin: 210px auto;
    border: 1.3px solid gainsboro;
    padding: 12px 0px 10px 18px;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgb(173, 173, 173);
    font-family: "Montserrat", sans-serif;
    ;
}

.card h1{
margin-top: 21px;
margin-bottom: 35px;
}

.espacamento {
    padding: 0px 0px 10px;
}

hr {
    margin: 0;
}

.legenda-resultado {
    margin: 0;
}

.info-legenda {
    margin: 2px 0px 9px;
    text-align: center;

}

.abaixo-do-peso {
    background-color: #77C3F2;
    box-shadow: 0px 2px 3px rgb(167, 167, 167);
    padding: 1px 0;
    display: block;
    text-align: center;
}

.normal {
    background-color: #7EC395;
    box-shadow: 0px 2px 3px rgb(167, 167, 167);
    padding: 1px 0;
    display: block;
    text-align: center;
}

.sobrepeso {
    background-color: #F2D852;
    box-shadow: 0px 2px 3px rgb(167, 167, 167);
    padding: 1px 0;
    display: block;
    text-align: center;
}

.obesidade-i {
    background-color: #F29829;
    box-shadow: 0px 2px 3px rgb(167, 167, 167);
    padding: 1px 0;
    display: block;
    text-align: center;
}

.obesidade-ii {
    background-color: #F26241;
    box-shadow: 0px 2px 3px rgb(167, 167, 167);
    padding: 1px 0;
    display: block;
    text-align: center;
}

.obesidade-iii {
    background-color: #D94E5A;
    box-shadow: 0px 2px 3px rgb(167, 167, 167);
    padding: 1px 0;
    display: block;
    text-align: center;
}

.d-flex {
    display: flex;
}

.vl {
    border-left: 1px dashed rgb(133, 132, 132);
    height: 290px;
    margin: auto 20px auto 15px;
}

.display-legenda {
    padding: 10px 0 5px;

}
